@font-face {
    font-family: "vazir";
    src: url("Vazir-FD.ttf");
}

.dark {
    text-decoration: none;
    color: #0095D9;
    border: 2px solid #0095D9;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in;
}

.dark:hover {
    color: white;
    background: #0095D9;
    transition: 1s ease-out;
}

.d {
    filter: invert(1) hue-rotate(180deg);
}

.i {
    filter: invert(1) hue-rotate(180deg);
}

.i:hover {
    filter: invert(1) hue-rotate(180deg);
}

.o {
    filter: invert(1) hue-rotate(180deg);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: vazir;
    padding: 0;
    margin: 0;
}

.head1 {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    flex-direction: row-reverse;
    background: white;
}

.p2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.t1 {
    margin-bottom: 10px;
}

.l-tamas {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 50%;
    padding: 5px;
    margin: 20px;
}

.p3 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.locp {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 50%;
    padding: 5px;
    margin: 20px;
}

.p4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p4 a {
    text-decoration: none;
    border: 2px solid #0095D9;
    padding: 9px 30px;
    color: black;
    transition: 1s ease;
}

.p4 a:hover {
    background: #0095D9;
    color: white;
    transition: 1s ease;
}

.head2 {
    background: #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.head2 ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    list-style-type: none;
    padding: 25px;
}


/* .head2 div {
    
}

.head2 div:hover {
    background-color: #0095D9;
    
} */

.head2 ul li {
    padding: 0 40px;
}

.f {
    color: #0095D9;
}

.head2 ul li:hover {
    color: #0095D9;
    transition: 1s ease;
}

.f:hover {
    color: black;
    transition: 1s ease;
}

.contain {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(dac97dab3c5e48e890108b868c7b10ec.w_1920,h_506,r_k.jpg );
    background-size: cover;
    background-position: center;
    transition: 1s ease-in;
}

.contain:hover {
    background: url(3.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s ease-out;
}

.contain h1 {
    font-size: 6rem;
    color: white;
}

.contain .kar {
    opacity: 0.99;
}

.moref {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
    background: white;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 25px;
}

.tozi {
    width: 517px;
    height: auto;
    font-size: 0.8rem;
    margin-bottom: 50px;
}

.edame {
    text-decoration: none;
    color: white;
    background: #0095D9;
    padding: 7.8px 60px;
    transition: 1s ease-out;
}

.edame:hover {
    color: white;
    background: #00608D;
    transition: 1s ease-in;
}

.tazmin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #e2e2e2;
    padding: 70px 0 70px 0;
}

.tazmin div img {
    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;
}

.b1,
.b2,
.b3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.matn {
    width: 242px;
    height: auto;
    color: #3a3a3a;
}

.titr {
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(43, 43, 43);
}